# ignore API passwords -- note /secrets ignore the folder not the content, /secrets/ would ignore all
/docker-volumes/
/src/secrets/
/src/datapipeline/docker-volumes/

#ignore DS store to avoid computer-specific version pull/push issues
.DS_Store
/src/datapipeline/docker-volumes
