[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
google-cloud-storage = "*"
google-generativeai = "*"
google-cloud-aiplatform = "*"
llama-index = "*"
pandas = "*"
argparse = "*"
# json-gs = "*"
# time = "*"
# glob = "*"
# hashlib = "*" # comment out for no matching distributioin
chromadb = "*"
vertexai = "*"
langchain = "*"
# semantic_splitter = "*"
agent_tools = "*"
user-agent = "*"

[requires]
python_version = "3.11"